* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}


/* HEADINGS DEFAULT */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444;
    font-family: 'Averia Serif Libre', cursive;
}

a {
    text-decoration: none;
}

p {
    margin: 20px 0px;
}

ul,
ol {
    margin-left: 40px;
}

hr {
    margin: 10px 0px;
    opacity: .25;
}

.header {
    color: white;
    text-align: center;
    background: rgb(115, 247, 240);
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #B0C4DE;
}

form {
    padding: 30px;
    border-radius: 0px 0px 10px 10px;
}

.input-group {
    margin: 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 5px;
    font-weight: bolder;
    font-size: 20px;
}

.input-group input {
    height: 40px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid orange;

}

textarea {
    width: 93%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    resize: none;
}

/* .input-group textarea {
    height: 40px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid gray;

} */

/* .btn {
    background: linear-gradient(45deg, salmon, tomato);
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    border: 1px solid lightcyan;
    cursor: pointer;
} */
.loginBtn {
    color: #09f;
    background-color: white;
    border: 1px solid #e2e2e2;
    line-height: 1.38;
    font-weight: bold;
    border-radius: 2px;
    width: auto;
    height: 32px;
    padding: 5px 20px;
    margin: 0.8rem 0 0 0.8rem;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}